.cart-items {
    margin-top: 10vh;
    margin-left: 25vw;
    height: auto;
    width: 50vw;
    background-color: #0C131F;
    color: aliceblue;
    font-family: Arial;
}

.cart-items h2 {
    margin-left: 1vw;
    margin-top: 2vh;
}

.arrow {
    margin-left: 1vw;
}

.date {
    padding-left: 5vw;
}

.price {
    padding-left: 5vw;
}

.date1 {
    padding-left: 3vw;
}

.price1 {
    padding-left: 3vw;
}

.date2 {
    padding-left: 3vw;
}

.price2 {
    padding-left: 3vw;
}

.delete {
    margin-top: 1vh;
    margin-left: 3.5vw;
    height: 4vh;
    width: 2vw;
    cursor: pointer;
}

.BtnPayer {
    margin-left: 20vw;
    margin-top: 2vh;
    width: 10vw;
    cursor: pointer;
    padding: 0.5vw;
    background-color: #25324f;
    color: aliceblue;
    font-family: Arial;
    border: none;
    border-radius: 10px;
}

.BtnPayer:hover {
    background-color: #be7535;
}

.totalpay {
    margin-top: 3vh;
    margin-left: 5vw;
}

.totalnumber {
    margin-top: 3vh;
    margin-left: 1vw;
    font-size: 1.3rem;
}